# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/.idea
/webrat.log
/script/log.xml

# Ignore private files
/private
