%h1 Welcome to Subversion Stats
%div
  %ul
    %li= link_to "Projects", projects_path
    %li= link_to "Committers", committers_path
    %li= link_to "Commits", commits_path
    %li= link_to "Changes", changes_path